@use "../../../styles/color-variables.scss" as *;
.cadastro-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    width: 100%;
    padding: 50px 50px ;

    .cadastro-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid $bg-secondary-color;
        border-radius: 8px;
        padding: 10px 15px;
        margin-top: 40px;
        text-align: center;
        max-width: 70%;

        h2{
            font-size: 24px;
            font-weight: 700;

        }

        form{
            display: grid;
            grid-template-columns: repeat(3, 1fr); // Duas colunas
            gap: 15px; // Espaçamento entre os inputs
            color: $secondary-color;
            place-items: start;

            div{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }
    }
}


@media (max-width: 768px) {

    .cadastro-area{
        .cadastro-content{
            form{
                grid-template-columns: repeat(2, 1fr);

                .checkboxes-content{
                    grid-column: span 2;
                }
            }
        }
    }
}

@media (max-width: 450px) {

    .cadastro-area{
        max-width: 90%;
        .cadastro-content{
            form{
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;

                .checkboxes-content{
                    grid-column: span 1;

                    .checkboxes{
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
