@import '../../styles/color-variables.scss';

.links-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    a {
        display: flex;
        align-items: center;

        .link-icon {
            width: 30px;
            margin-right: 7px;
        }
    }

    a:hover {
        opacity: 0.6;
    }
}

.user-content {
    display: flex;
    align-items: center;
    gap: 30px;

    .user-avatar-name {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.3s ease-in-out;
    }

    .user-avatar-name:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }
}

@media (max-width: 990px) {
    .links-content {
        flex-direction: column;
        width: 100%;
        height: 20vh;

        a {
            width: 100%;
            height: 100px;
            padding: 10px 10px;
            border-radius: 10px;
        }

        a:hover {
            background-color: $bg-secondary-color;
        }
    }
}