@use "../../../styles/color-variables.scss" as *;

.candidados-vaga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    width: 100%;
    padding: 0 5vw;
    gap: 20px;
    text-align: center;

    h1{
        font-size: 35px;
        font-weight: 700;
    }

    .candidatos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        

        .candidato{
            width: 80%;
            max-height: 100vh;
            border: 1px solid $primary-color;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            text-align: left;
            
            h2{
                font-size: 35px;
                font-weight: 700;
            }

            .candidato-vaga-buttons{
                display: flex;   
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                gap: 20px;
                

            }

            .actions{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                gap: 20px;

                form, a{
                    margin: 0;
                    padding: 0;
                }

                
            }

        }
    }
}

.modal_dados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    p {
        background-color: $bg-secondary-color;
        padding: 5px;
        max-width: 230px;
        border-radius: 8px;
        font-size: 12px;
    }
}

@media (max-width:990px){
    .candidados-vaga{

        .candidatos-container{

            .candidato{

                .candidato-vaga-buttons{
                    flex-direction: column;
                }

                .actions{
                    flex-direction: column;
                }
            }
        }
    }
}