@use "../../../styles/color-variables.scss" as *;
.vagas-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    color: $secondary-color;
    padding: 0 5vw;
    text-align: center;
    

    h1{
        font-size: 32px;
        font-weight: 700;
    }

    .search-vagas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        form{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            gap: 20px;
        }
        
    }

    .vagas-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        

        .vaga-card{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            width: 80%;
            max-height: 750px;
            border: 1px solid $primary-color;
            padding: 10px 20px;
            text-align: left;

            h2{
                font-size: 30px;
                font-weight: 700;
            }

            h3{
                font-size: 22px;
                font-weight: 700;
            }

            p{
                font-size: 18px;
            }

            span{
                font-size: 18px;
                font-weight: 700;
            }
    
         
        }
    }
}

.div-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal_dados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    p {
        background-color: $bg-secondary-color;
        padding: 5px;
        max-width: 230px;
        border-radius: 8px;
        font-size: 12px;
    }
}



@media (max-width:990px) {
    .vagas-area{

        .search-vagas{

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .vagas-container{

            .vaga-card{
               width: 100%;
              
            }
        }
    }
}