@import '../../styles/color-variables.scss'; 

.select-wrapper{
    display: flex;
    flex-direction: column;
    color: $secondary-color;
    width: 100%;

    label{
        font-size: 14px;
        font-weight: 700;
    }

    select{
        width: 100%;
        border: none;
        border-radius: 8px;
        background-color: $bg-secondary-color;
        padding: 5px 10px;
        color: $secondary-color;
    }

    select:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}