@use "../../../../styles/color-variables.scss" as *;
.formConsultor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;

    
    h1{
        font-size: 34px;
        font-weight: 700;

    }

    form{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        border: 2px solid $bg-secondary-color;
        border-radius: 8px;
        padding: 10px 15px;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}