@import '../styles/color-variables.scss';

.login-area {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        padding: 10px 15px;
        text-align: start;
        border: 2px solid $bg-secondary-color;
        border-radius: 8px;
        color: $secondary-color;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }


.login-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .form-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
            color: $secondary-color;
            font-size: 12px;
        }

        a:hover {
            opacity: 0.7;
        }
    }
}

}