@import '../styles/color-variables.scss'; 

.main-menu-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: $secondary-color;

    h1{
        font-size: 36px;
        font-weight: 700;
    }

    .main-menu-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .type-profile-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            border-radius: 8px;
            border: 2px solid $bg-secondary-color;


            h2{
                font-size: 24px;
                font-weight: 700;
            }
            
        }

        .type-profile-content:hover{
            transform: scale(110%);
            transition: 0.3s ease-in-out;
            cursor: pointer;
           
        }


    }

  
}


@media (max-width: 790px){
    .main-menu-area{
        padding: 0 20px;
        .main-menu-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}