@use "../../styles/color-variables.scss" as *;

.custom-background-color{
    background-color: $bg-primary-color;
    color:$secondary-color
}

.custom-sidebar-trigger{
    color: $secondary-color;
}

.custom-side-bar-color{
    background-color: $bg-primary-color;
    color: $secondary-color;
}

.bg-sidebar {
  background-color: #123456; // Change this to your desired color
}